body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container-fluid {
    display: flex;
    height: 100vh;
}

.menu {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.logo {
    background-color: #E8EBE4;
    width: 100%;
}

.menu img {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.user {
    display: flex;
    width: 250px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.img-user {
    display: flex;
}

.maria {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-state {
    font-size: 12px;
    color: grey;
}

.icons {
    justify-content: space-around;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.boton button {
    background-color: #a491d2;
    color: white;
    border: none;
    padding: 10px 35px;
}

.img-contact{
    display: flex;
    border-top: 1px solid #ccc;
    height: 70px;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 10px;
    align-items: center;
}

.img-contact img{
    width: 50px;
    height: 50px;
}

.contact-state{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.contact-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mensajes{
    background-color: #E8EBE4;
    width: 100%;
    /*height: 100%;*/
    border-left: 1px solid #ccc;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

.logo img{
    border-radius: 5%;
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

.slogan{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    padding-bottom: 10px;
}

.texto-1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: small;
    padding-bottom: 5px;
}

.texto-2{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: small;
}